[submodule ".modules/curl"]
	path = .modules/curl
	url = https://github.com/curl/curl.git
[submodule ".modules/xz"]
	path = .modules/xz
	url = https://github.com/xz-mirror/xz.git
[submodule ".modules/openssh-portable"]
	path = .modules/openssh-portable
	url = https://github.com/openssh/openssh-portable
